<!DOCTYPE html>
<html>
  <head>
    <title>View Engine</title>
    <link rel="stylesheet" href="/Section-7A/Lesson_5/css/style.css">
    <script src="/Section-7A/Lesson_5/js/app.js"></script>
  </head>
  <body>
    {{>footer}}
    <p>Created by {{name}}</p>
  </body>
</html>