<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="/Section-7A/Lesson_9/app.js"></script>
  </head>
  <body>
    <h1>{{errorMessage}}</h1>
    <p>{{name}}</p>
  </body>
</html>